#Files
.DS_Store
.settings
methods.bin
methods.csv
LICENSE.MD

#Folders
eclipse
.idea
.gradle
bin
build
api/build
launcher/build
modules/core/build
modules/light/build
modules/deco/build
modules/hologram/build
modules/logic/build
modules/machines/build
modules/teleporter/build
modules/transport/build
modules/storage/build
modules/net/build
modules/mobile/build
artifacts
artifacts-dev
artifacts-src
